*{
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 1s;
}
p{
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    bottom: 5vh;
    left: 5vh;
}
.contenedorPrincipal{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5vw;
    width:90vw ;
    height: 100vh;
    gap:20px;
}
.item{
    display: flex;
    flex-direction: column-reverse;
    width:calc(100vw/10);
    height: 80%;
    border-radius: 100px;
}
.item p{
    opacity: 0;
}
.item:nth-child(1){
    background-image: url(./Pictures/IMG_20230119_131656.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item:nth-child(2){
    background-image: url(./Pictures/IMG_20230121_134935.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item:nth-child(3){
    background-image: url(./Pictures/IMG_20230320_164116.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item:nth-child(4){
    background-image: url(./Pictures/IMG_20230416_182429.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item:nth-child(5){
    background-image: url(./Pictures/IMG_20230520_141423.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.itemG{
    width: 70%;
}
.itemG p{
    color:whitesmoke;
    opacity: 100;
}
@media (max-width:425px) {
    .item:nth-child(1){
        background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item:nth-child(2){
        background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item:nth-child(3){
        background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item:nth-child(4){
        display: none;
    }
    .item:nth-child(5){
        display: none;
    }
    .itemG p{
        opacity: 0;
    }
}