body{
    background-color: #8e44ad;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: "Raleway";
    color: white;
}
.contenedorPrincipal{
    width: 50%;
    border: red 1px solid;
    display: flex;
    justify-content: space-around;
}
.contenedorInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.contenedorInfo img{
    width: 50px;
    filter: invert(100%);
}
.contenedorInfo h6{
    font-size: 50px;
}
.contenedorInfo p{
    font-size: 12px;
}