body{
    background-color: #3494e4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Raleway";
}
.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.texto{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color:white
}
.texto h1{
    font-size: 40px;
}
.texto p{
    font-size: 20px;
}
.litros{
    height: 350px;
    background-color: white;
    width: 150px;
    border: 5px #144fc6 solid;
    border-radius: 0px 0px 30px 30px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: #144fc6;
    font-weight: 900;
}
.litros p:last-child{
    font-size: 15px;
    font-weight: 500;
}
.contenedorTarritos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorTarritos p{
    color: white;
}
.tarritos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
    margin: 20px;
}
.tarrito{
    display: flex;  
    width: 50px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    color: #144fc6;
    border: 5px #144fc6 solid;
}
.activo{
    background-color: #6ab3f8;
    color: white;
}