body{
    background-color: #2b88f0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    color: white;
}
.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 40%;
}
.contenedor h6{
    font-weight: 900;
    font-size: 20px;
}
.contenedor textarea{
    width: 120%;
    height: 100px;
    padding: 10px;
}
.contenedor textarea::placeholder{
    font-family: "Raleway";
}
.contenedor div{
    width: 100%;
    max-width: 100%;
}
.nuevas{
    border: 1px blue solid;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: blue;
}
.creadas{
    border:1px red solid;
    padding: 5px;
    border-radius: 10px;
}
